@model IEnumerable<ERClubs.Models.GroupMember>

@{
    ViewData["Title"] = "GroupsForArtist";
}

<h1>Groups of @ViewData["Name"] @ViewBag.FirstName @ViewBag.LastName</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Group Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLeft)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="ERGroupMember" asp-action="Index" asp-route-artistId="@item.ArtistIdGroup">
                    @Html.DisplayFor(modelItem => item.ArtistIdGroupNavigation.NameAddress.FirstName)
                    @Html.DisplayFor(modelItem => item.ArtistIdGroupNavigation.NameAddress.LastName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLeft)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
